language: python
python:
  - "3.4"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
#install: PLEASE CHANGE ME
# command to run tests, e.g. python setup.py test
#script:  PLEASE CHANGE ME
python -m unittest kameleon-mcmc.kameleon_mcmc.tests.unit discover . '*Test.py'
